<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarioMaker2OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WebcamOCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MarioMaker2OCR.Properties.Settings>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="SelectedResolutionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DetectMultipleLanguages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewVersionWarning" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="WarpWorldUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="WarpWorldToken" serializeAs="String">
                <value />
            </setting>
            <setting name="WarpWorldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jsonClearOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jsonClearOnSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jsonClearOnGameover" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jsonClearOnStop" serializeAs="String">
                <value>False</value>
            </setting>
        </MarioMaker2OCR.Properties.Settings>
        <WebcamOCR.Properties.Settings>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedResolutionIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </WebcamOCR.Properties.Settings>
    </userSettings>
</configuration>